extends layout.pug

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Edit Account

        // edit account form
        form
          div.form-group
            label(for='email') Edit Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='pw') Edit Password:
            input#pw.form-control(type='password', name='password')

          div.form-group
            label(for='firstName') Edit First Name:
            input#firstName.form-control(type='text', placeholder='Edit your first name' firstName='firstName')
          div.form-group
            label(for='lastName') Edit Last Name:
            input#lastName.form-control(type='text',placeholder='Edit your last name' lastName='lastName')
          div.form-group
            label(for='nickName') Edit NickName:
            input#nickName.form-control(type='text', placeholder=' Edit your nickname' nickName='nickName')
          
          h5 Billing address
          div.form-group
            label(for='address') Edit Address:
            input#address.form-control(type='text', placeholder='Edit your address' address='address')
          div.form-group
            label(for='city') Edit City:
            input#city.form-control(type='text', placeholder='Edit your city' city='city' )
          div.form-group
            label(for='zip') Edit Zipcode:
            input#zip.form-control(type='text', placeholder='Edit your zip' zip='zip')
          div.form-group
            label(for='state') Edit State:
            input#state.form-control(type='text', placeholder=' Edit your state' state='state')

          button#btn.btn.btn-primary(type='submit', onClick="edit()") Update Registration
          script.
            function edit() {

                    const userName = document.getElementById("userName").value
                    const email = document.getElementById("email").value
                    const password = document.getElementById("password").value
                    const firstName = document.getElementById("firstName").value
                    const lastName = document.getElementById("lastName").value
                    const nickName = document.getElementById("nickName").value
                    const address = document.getElementById("address").value
                    const city = document.getElementById("city").value
                    const zip = document.getElementById("zip").value
                    const state = document.getElementById("state").value
                      

                    const token = localStorage.getItem("token");

                    const data = { 
                      token,
                      userName,
                      email,
                      password,
                      firstName,
                      lastName,
                      nickName,
                      address,
                      city,
                      zip,
                      state
                    }

                    console.log({ data })
                    const apiURL= "http://localhost:5656"

                    const options = {
                        method: "POST", 
                        body: JSON.stringify(data),
                        headers: { "Content-Type": "application/json" } 
                    }

                      fetch(apiURL + "/editingaccount", options)
                        .then(res => res.json())
                        .then(res => {

                          const { email } = res.data

                          console.log(email)
                          //- window.localStorage.setItem('token', email)

                        }).catch(error => console.log("Error: ", error))
                  }
