extends layout.pug

block content
  .container.header
    h1 Book Browsing
    div.search
      input#input-search.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
      button#btn-search.btn.btn-outline-success.my-2.my-sm-0 Search
      select#select-sort(style='margin-left: 6px')
        option(value='title') Titles A-Z
        option(value='authorLast') Authors A-Z
        option(value='Average DESC') Reviews Hi-Lo
        option(value='price') Price Lo-Hi
  table#tableBrowse.table
    thead.thead-dark
      tr
        th(scope='col') Cart
        th(scope='col') Title
        th(scope='col') Author
        th(scope='col') Genre
        th(scope='col') Publisher
        th(scope='col') Price
        th(scope='col') Rating
        th(scope='col') Availability
    tbody#tableBrowseBody
  div#test
  button#prev.btn.btn-outline-success.my-2.my-sm-0 Prev
  button#next.btn.btn-outline-success.my-2.my-sm-0 Next
  script(src='js/browse/browse-script.js')